.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  > h2 {
    margin-top: 50px;
  }
}

.folder-structure {
  margin-top: 20px;
}

.file-container {
  margin-bottom: 10px;
}

.file {
  padding: 10px;
  width: 200px;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.folder {
  cursor: pointer;
}

.inside-files {
  margin-left: 20px;
}
